.container{
  width: 50%;
  margin: 0 auto;
}

.container>#title>h1{
  border: 1px solid wheat;
  border-radius: 20px;
  padding: 10px 20px;
  color: wheat;
  font-family: 'Lucida Sans', sans-serif;
}

#list{
  background-color: wheat;
  border-radius: 20px;
  padding: 20px 0;
  margin: 40px 0;
}

ul{
  width: 60%;
  margin: 0 auto;
  background-size: 134%;
  line-height: 2;
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

ul li::before{
  content: "\2709";
  padding-right: 5px;
}

#btn{
  position: absolute;
  top: 80vh;
  left: 50%;
  translate: -50% 0;
}

#btn:hover{
  background-color: transparent;
  border: 2px solid #FFCA2C;
  color: #FFCA2C;
}

#btn:active{
  background-color: #FFCA2C;
}
