#title{
  border: 1px solid wheat;
  border-radius: 20px;
  color: wheat;
  font-family: 'Lucida Sans', sans-serif;
}

#list{
  background-color: wheat;
  border-radius: 20px;
}

ul{
  font-family: 'Trebuchet MS', sans-serif;
}

ul li::before{
  content: "\2709";
}


#btn:hover{
  background-color: transparent;
  border: 2px solid #FFCA2C;
  color: #FFCA2C;
}

#btn:active{
  background-color: #FFCA2C;
}

@media screen and (max-width: 766px) {
  ul li::before{
    display: none;
  }
}